@import url("./base.css");
@import url("./components/btn.css");
@import url("./components/card.css");

.dark-mode-switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 2.2rem;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.switch-checkbox {
  display: none;
}

.switch-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3px;
  background-color: #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch-checkbox:checked + .switch-label {
  background-color: #3d3d3d;
}

.switch-label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: rgb(255, 191, 0);
  border-radius: 50%;
  transition: transform 0.3s;
}

.switch-checkbox:checked + .switch-label:before {
  transform: translateX(35px);
}

.switch-label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 26px;
  width: 2px;
  height: 16px;
  background-color: white;
}

.section-title > p {
  color: var(--clr-primary-base);
  text-transform: capitalize;
  margin: 1rem;
}

.section-title h2 {
  color: var(--clr-gray-600);
}

/*-----------------------------------*\
  # Hero start
\*-----------------------------------*/
.hero {
  position: relative;
  background-image: url("../images/hero2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block-start: calc(var(--section-padding) + 60px);
  text-align: left;
  overflow: hidden;
  height: 100vh;
}
.dark-mode .hero {
  background-image: url("../images/hero3.png");
}
.hero .container {
  margin-top: 5rem;
  height: 50%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.hero-subtitle {
  color: var(--clr-secondary-light);
  text-transform: uppercase;
  font-weight: var(--fw-600);
  letter-spacing: 3px;
  margin-block-end: 20px;
}

.hero-text {
  margin-block: 25px;
}

.hero-text span {
  color: var(--clr-gray-text-light);
  width: 50%;
}

@media (max-width: 631px) {
  .hero-text span {
    display: none;
  }
}

.headline-lg {
  color: var(--clr-gray-700);
}

/*-----------------------------------*\
  # Hero End
\*-----------------------------------*/

/*-----------------------------------*\
  # Services Start
\*-----------------------------------*/
.services {
  background-color: var(--clr-gray-bg-light);
}

.services h2 {
  padding-bottom: 2rem;
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  gap: 4rem;
}

.services .container > * {
  width: 100%;
  height: 100%;
}

/* .small-text {
  color: var(--clr-accent);
  text-transform: uppercase;
} */

.service-card {
  padding: 3rem;
  border-radius: 1.5rem;
  box-shadow: var(--shadow);
  background-color: var(--clr-gray-bg-dark);
}

.service-card .card-media {
  background-color: transparent;
  color: var(--clr-accent);
  display: grid;
  place-items: center;
  flex-shrink: 0;
  font-size: var(--fs-32);
  padding: 2rem;
}

.service-card:hover {
  background-color: var(--clr-gray-600);
  color: var(--clr-gray-100);
}

.service-card h3 {
  text-align: center;
  font-size: var(--fs-32);
  padding: 1rem;
  color: var(--clr-secondary-text-colored);
}

/*-----------------------------------*\
  # Services End
\*-----------------------------------*/

/*-----------------------------------*\
  # Portfolio Start
\*-----------------------------------*/

.portfolio {
  background-color: var(--clr-gray-bg-dark);
}

.portfolio .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
  padding: 0.5rem;
}

.portfolio-card {
  position: relative;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: var(--shadow-1);
  background: var(--clr-gray-bg-light);
  border-radius: var(--radius-10);
  transition: transform 0.3s ease;
}

.portfolio-card img {
  transition: transform 0.3s ease;
}

.portfolio-card:hover img {
  transform: scale(1.2);
}

.portfolio-card-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-card-tags > span {
  color: var(--clr-accent);
}

.portfolio-card-tags .likes {
  display: flex;
  color: var(--clr-secondary-light);
  align-items: center;
}

.portfolio-card-tags .likes span {
  padding: 2px;
  color: var(--clr-primary-light);
}

.portfolio .dynamic-btn {
  /* position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%); */
  visibility: visible;

}

.card:hover .dynamic-btn {
  visibility: visible;
}

.card {
  position: relative;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-gray-bg-dark);
  z-index: 9999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-gray-bg-light);
  padding: 20px;
  text-align: left;
  width: 75%;
  height: 70%;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.detail-page {
  /* background-color: var(--clr-gray-bg-dark); */
}

.detail-info {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.detail-info > span {
  padding: 2rem;
  background-color: var(--clr-gray-bg-dark);
  color: var(--clr-primary-light);
  text-align: center;
  font-size: var(--fs-22);
  font-weight: var(--fw-600);
  font-family: var(--font-secondary);
}

.detail-btns {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

/*-----------------------------------*\
  # Portfolio End
\*-----------------------------------*/

/*-----------------------------------*\
  # Resume Start
\*-----------------------------------*/

.resume {
  background: var(--clr-gray-bg-light);
}

.resume .tabs > ul {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.resume .tabs > ul li {
  width: fit-content;
  background: var(--clr-gray-bg-dark);
  box-shadow: var(--shadow-1);
}

.resume .expericens {
  height: 250px;
  background: var(--clr-gray-bg-dark);
}

.resume .expericens:hover {
  background: var(--clr-gray-bg-light);
}

.resume .eductations {
  background: green;
  height: 30vh;
}

.resume .skills {
  background: yellow;
  height: 30vh;
}

.resume .certification {
  background: orange;
  height: 30vh;
}

.tabs {
  background-color: var(--clr-gray-bg-dark);
}

.tab-button {
  flex: 1;
  background-color: var(--clr-gray-bg-dark);
  padding: 2rem;
  border: none;
  cursor: pointer;
}

.tab-button:hover {
  background-color: var(--clr-gray-bg-light);
}

.tab-button.active {
  background-color: var(--clr-gray-bg-light);
  border-bottom: solid 3px var(--clr-accent);
}

.tab-content {
  display: none;
  padding: 20px;
  /* background-color: var(--clr-gray-bg-dark) */
}

.tab-content h2 {
  margin-top: 0;
}

.timeline {
  position: relative;
  display: flex;
}

@media (max-width: 885px) {
  .timeline {
    flex-direction: column;
  }

  .resume .tabs > ul li {
    width: fit-content;
    padding: 0;
  }

  .carousel > img {
    overflow: hidden;
    width: fit-content;
  }

  .tab-button {
    padding: 0.2rem;
  }

  .timeline-content::before {
    content: "";
    position: absolute;
    top: 17%;
    left: 0.18rem;
    width: 0.8rem;
    height: 0.6rem;
    background-color: var(--clr-accent);
  }
}

.timeline-item {
  position: relative;
  padding: 20px;
  margin-bottom: 1rem;
  padding-left: 6rem;
  width: 100%;
}

@media (max-width: 885px) {
  .timeline-item::after {
    height: calc(100% - 20px);
  }
}

.timeline-content {
  padding: 1rem;
  color: var(--clr-gray-100);
  background: var(--clr-gray-bg-dark);
  border-radius: var(--radius-10);
}

.timeline-content:hover {
  box-shadow: var(--shadow-1);
  color: var(--clr-gray-100);
  background: var(--clr-secondary-light);
}

.timeline-title {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--clr-secondary-text-colored);
}

.timeline-date {
  font-size: 14px;
  margin-bottom: 2rem;
  color: var(--clr-primary-text-colored);
}

.timeline-description {
  font-size: 14px;
  color: var(--clr-gray-text-dark);
  line-height: 1.5;
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 15%;
  left: -0.8rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--clr-gray-600);
  z-index: 1;
}

.timeline-item:hover:before {
  background-color: var(--clr-accent);
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: calc(100% + 6%);
  background-color: var(--clr-gray-600);
}

.timeline-content::before {
  content: "";
  position: absolute;
  top: 17%;
  left: 0.18rem;
  width: 5.8rem;
  height: 0.6rem;
  background-color: var(--clr-gray-600);
}

.timeline-content:hover:before {
  background-color: var(--clr-accent);
}

@media (max-width: 885px) {
  .container {
    margin: 0;
    padding: 0.2;
  }

  .tab-content {
    padding-left: 8px;
    margin: 0;
  }

  .timeline-content {
    padding: 0;
    margin: 0;
  }

  .timeline {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .timeline-content::before {
    width: 2.8rem;
    z-index: 1;
  }

  .timeline-item {
    width: 100%;
    margin: 0;

    padding-left: 2rem;
    z-index: 2;
  }
}

/*-----------------------------------*\
  # Resume End
\*-----------------------------------*/
.clients {
  background: var(--clr-gray-bg-dark);
}
.carousel {
  display: flex;
  width: 100%;
}

.carousel > img {
  flex: 0 0 100%;
  max-width: 50rem;
  object-fit: contain;
}

.carousel-navigation {
  text-align: center;
  margin-top: 10px;
  color: var(--clr-accent);

  display: flex;

  justify-content: space-around;
}

.carousel-navigation button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: var(--clr-primary-light);
  color: var(--clr-white);
  cursor: pointer;
}

.carousel-navigation button:hover {
  background-color: var(--clr-primary-dark);
}

/* Pricing */
.pricing {
  background: var(--clr-gray-bg-light);
}
/* Pricing */
.blog {
  background: var(--clr-gray-bg-dark);
}
/* Pricing */
.contact {
  background: var(--clr-gray-bg-light);
}
