@import url("./base.css");
@import url("./components/btn.css");
@import url("./components/card.css");

.section-title>p {
  color: var(--clr-accent);
  text-transform: capitalize;
  margin: 1rem;
}

.section-title h2 {
  color: var(--clr-secondary-light);
}

/*-----------------------------------*\
  # Hero start
\*-----------------------------------*/
.hero {
  position: relative;
  background-image: url("../images/hero1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block-start: calc(var(--section-padding) + 60px);
  text-align: left;
  overflow: hidden;
  height: 100vh;
}

.hero .container {
  margin-top: 5rem;
  height: 50%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.hero-subtitle {
  color: var(--clr-gray-300);
  text-transform: uppercase;
  font-weight: var(--fw-600);
  letter-spacing: 3px;
  margin-block-end: 20px;
}

.hero-text {
  margin-block: 25px;
}

.hero-text span {
  color: var(--clr-gray-100);
  width: 50%;
}

@media (max-width: 631px) {
  .hero-text span {
    display: none;
  }
}

.headline-lg {
  color: var(--clr-gray-700);
}

/*-----------------------------------*\
  # Hero End
\*-----------------------------------*/

/*-----------------------------------*\
  # Services Start
\*-----------------------------------*/
.services {
  background-color: var(--clr-gray-300);
}

.services h2 {
  padding-bottom: 2rem;
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  gap: 4rem;
}

.services .container>* {
  width: 100%;
  height: 100%;
}

.small-text {
  color: var(--clr-secondary-light);
  text-transform: uppercase;
}

.service-card {
  padding: 3rem;
  border-radius: 1.5rem;
  box-shadow: var(--shadow);
  background-color: var(--clr-white);
}

.service-card .card-media {
  background-color: transparent;
  color: var(--clr-primary-light);
  display: grid;
  place-items: center;
  flex-shrink: 0;
  font-size: var(--fs-32);
  padding: 2rem;
}

.service-card:hover {
  background-color: var(--clr-primary-dark);
  color: var(--clr-white);
}

.service-card h3 {
  text-align: center;
  font-size: var(--fs-32);
  padding: 1rem;
  color: var(--clr-gray-500);
}

/*-----------------------------------*\
  # Services End
\*-----------------------------------*/

/*-----------------------------------*\
  # Portfolio Start
\*-----------------------------------*/

.portfolio {
  background-color: var(--clr-gray-100);
}

.portfolio .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
  padding: 0.5rem;
}

.portfolio-card {
  position: relative;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: var(--shadow-1);
  background: var(--clr-white);
  border-radius: var(--radius-10);
  transition: transform 0.3s ease;
}

.portfolio-card img {
  transition: transform 0.3s ease;
}

.portfolio-card:hover img {
  transform: scale(1.2);
}

.portfolio-card-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-card-tags>span {
  color: var(--clr-accent);
}

.portfolio-card-tags .likes {
  display: flex;
  color: var(--clr-gray-700);
  align-items: center;
}

.portfolio-card-tags .likes span {
  padding: 2px;
  color: var(--clr-primary-light);
}

.portfolio .dynamic-btn {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
}

.card:hover .dynamic-btn {
  visibility: visible;
}

/*-----------------------------------*\
  # Portfolio End
\*-----------------------------------*/
.card {
  position: relative;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  text-align: left;
  width: 75%;
  height: 70%;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.detail-page {}

.detail-info {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

}
.detail-info > span{
  padding: 2rem;
  background-color: var(--clr-secondary-light);
  color: var(--clr-primary-light);
  text-align: center;
  font-size: var(--fs-22);
  font-weight: var(--fw-600);
  font-family: var(--font-secondary);
}
.detail-btns {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}